{% extends 'layout.html.twig' %}



{% block title %}Dans quoi qu'on range{% endblock %}

{% block content %}<section>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <a href="category/{{ category.idcategory }}"><li>{{ category.categoryName }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}



