{%  extends 'layout.html.twig' %}


{% block title %}Que voit-on? {% endblock %}
{% block content %}
<section>
    <h1>Items</h1>
    <ul>
        {% for item in items %}
            <a href="item/{{ item.id }}"> <li>{{ item.title }}</li></a>
        {% endfor %}
    </ul>
    <ul><li><a href="/categories">En voir plus ?</a></li>
        <li><a href="/Item/add">Ajouter un item ?</a></li>
    </ul>
</section>
{% endblock %}

